<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar slot="start" *ngIf="this.guess == true">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            Nama:
          </ion-col>
          <ion-col size="11.6">
            Alfonsus Enrico
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            TTL:
          </ion-col>
          <ion-col size="11.6">
           Surabaya, 6 Januari 2000
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Jurusan:
          </ion-col>
          <ion-col size="11.5">
           Teknik Informatika '18
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
  <br/><br/><br/><br/><br/>
  <div style="text-align:center">
    <h2>Minigame Tebak Angka</h2><br/>
    <ion-item style="margin-left:auto; margin-right:auto; width:30%">
      <ion-label position="floating">Masukkan angka (1 - 10)</ion-label>
      <ion-input type="number" [(ngModel)]="tebak" pattern="[1-10]" required="true"></ion-input>
    </ion-item><br/>
    <ion-button (click)="submit()">Submit</ion-button><br/><br/><br/><br/>
    {{teks}}
  </div>
  
</ion-content>
